.footer {
	background-color: #F7F1F1;
	height: 100%;
}

.logo {
    transition: all ease-in-out 0.3s;
}

.logo:hover {
    color: #CABBA5;
}

.footerLogo {
	width: 170px;
	height: 255px;
}

.footerMenu {
	height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.menuItem {
	margin-bottom: 15px;
	margin-right: 20%;
	color: #2E2E2E;
	font-size: 16px;
    transition: all ease-in-out 0.3s;
}

.menuItem:hover {
    color: #CABBA5;
}

.followUsOnLabel {
	font-size: 12px;
    color: #2E2E2E;
}

.socialMediaLink {
    color: #2E2E2E;
    font-size: 30px;
    transition: all ease-in-out 0.3s;
}

.socialMediaLink:hover {
    color: #CABBA5;
}

.copyright {
    height: 60px;
    background-color: #CABBA5;
    color: #F5F1E7;
}

@media only screen and (min-width: 640px) {
	.menuItem {
		font-size: 20px;
	}

	.followUsOnLabel {
		font-size: 16px;
	}
}

@media only screen and (min-width: 1024px) {
	.footerMenu {
		height: 194px;
	}
}

@media only screen and (min-width: 1536px) {
	.footerLogo {
		width: 170px;
		height: 255px;
	}
}