@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

body {
    font-size: 16px;
}

::-webkit-scrollbar {
    width: 8px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
	border-radius: 8px;
	background: #c2c9d2;
}

/* Shared custom stylings */
.primary-button {
    background-color: #7D4C3A;
    font-size: 14px;
    transition: all ease-out 0.5s;
}

.primary-button:hover {
    background-color: #f7f1f1;
    color: #7D4C3A;
    border: solid #7D4C3A 1px;
}

@media only screen and (min-width: 640px) {
    .primary-button {
        font-size: 18px;
    }
}

.swiper-pagination-bullet-active {
    background-color: #7D4C3A !important;
}

/* Contact Styling */
#contact {
    background-color: #EFE6D4;
}

.contact-form h3 {
    color:#2E2E2E;
	font-size: 25px;
}

.contact-form p {
    color:#2E2E2E;
}

.contact-form .field label {
    color: #B4A7A2;
    font-size: 16px;
}

.contact-form .field input, .contact-form .field textarea {
    border: solid #BCB1AC 1px;
    border-radius: 8px;
    color: #000000;
    font-size: 16px;
    outline: none;
}

.contact-form .field input {
    height: 50px;
}

.contact-form .field input:focus-visible, .contact-form .field textarea:focus-visible {
    border: solid #B4A7A2 3px;
}

.contact-form button {
    font-size: 16px;
    border-radius: 10px;
    transition: all ease-in-out 0.3s;
    width: 105px;
    background-color: #7D4C3A;
    border: solid #7D4C3A 1px;
}

.contact-form button:hover {
    color: #7D4C3A;
    background-color: #FFFFFF;
}

.contact-form button:disabled, .contact-form button:disabled:hover  {
    background-color: #d1d5db;
    border: solid #e5e7eb 1px;
    color: #000000;
}

@media only screen and (min-width: 480px) {
    .contact-form h3 {
        font-size: 30px;
    }
}

@media only screen and (min-width: 768px) {
    .contact-form h3 {
        font-size: 35px;
    }

    .contact-form .field label {
        font-size: 20px;
    }

    .contact-form .field input, .contact-form .field textarea {
        font-size: 20px;
    }

    .contact-form button {
        font-size: 20px;
    }
    

    .contact-img p {
        font-size: 20px;
    }
}

/* Product styling */
#products h3 {
    color:#5B463D;
	font-size: 25px;
}

.product {
    border: solid #BCB1AC 1px;
    border-radius: 5px;
}

.product:hover {
    border: solid #7D4C3A 2px;
}

.product img {
    border-radius: 4px
}

.product p, .product-price {
    color:#7D4C3A;
}

#products .spinner, #product .spinner {
    color:#5B463D;
}

.product button {
    background-color: #7D4C3A;
}

.product-name {
    color: #2E2E2E;
}

@layer base {
  :root {
        --radius: 0.5rem;
    }
}
