@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

body {
    font-size: 16px;
}

::-webkit-scrollbar {
    width: 8px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
	border-radius: 8px;
	background: #c2c9d2;
}

/* Shared custom stylings */
.primary-button {
    background-color: #7D4C3A;
    font-size: 14px;
    transition: all ease-out 0.5s;
}

.primary-button:hover {
    background-color: #f7f1f1;
    color: #7D4C3A;
    border: solid #7D4C3A 1px;
}

@media only screen and (min-width: 640px) {
    .primary-button {
        font-size: 18px;
    }
}

.swiper-pagination-bullet-active {
    background-color: #7D4C3A !important;
}

/* Header stylings */
.headerWithBackgroundColor {
    background-color: #7D4C3A;
}

.headerWithBackgroundImage {
    background-image: url('../public/images/banner.jpg');
}

.color-layer {
	background-color: rgba(125, 76, 58, 0.7);
    mix-blend-mode: multiply;
}

.custom-logo-link {
	display: inline-block;
    width: 108px;
	height: 91px;
}

.mainNav {
	background-color: #7D4C3A;
}

.menu {
	display: flex;
	flex-direction: column;
}

.menu .menu-item {
	color: #FFFFFF;
	font-size: 12px;
	padding: 10px 0;
	padding-left: 2rem;
}

.mobileNavToggle {
	right: 50%;
}

.site-description {
	color: #FFFFFF;
	font-size: 35px;
    margin: 20% 10%;
}

@media only screen and (min-width: 480px) {
	.custom-logo-link {
		width: 158px;
		height: 141px;
	}

	.mobileNavToggle {
		right: 20%;
	}

    .site-description {
		font-size: 45px;
	}
}

@media only screen and (min-width: 640px) {
	.menu .menu-item {
		font-size: 16px;
		padding: 0;
		padding-right: 30px;
	}

	.custom-logo-link {
		width: 208px;
		height: 191px;
	}

	.mainNav {
		background: none;
	}

	.menu {
		flex-direction: row;
	}
}

@media only screen and (min-width: 768px) {
	.menu .menu-item {
		padding-right: 60px;
	}

    .site-description {
		font-size: 65px;
	}
}

@media only screen and (min-width: 1024px) {
    .site-description {
		margin: 0 30%;
	}
}

/* Footer stylings */
footer {
	background-color: #F7F1F1;
	height: 100%;
}

.footer-logo {
	width: 200px;
	height: 266px;
}

.footer-menu {
	height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.footer-menu > .menu-item {
	margin-bottom: 15px;
	margin-right: 20%;
	color: #432316;
	font-size: 12px;
}

.follow-us-on-label, .newsletter-label {
	font-size: 12px;
    color: #432316;
}

.socialMediaLink {
    color: #432316;
    font-size: 30px;
    transition: all ease-in-out 0.3s;
}

.socialMediaLink:hover {
    color: #7D4C3A;
}

.newsletter-email {
	height: 50px;
	border: solid #432316 1px;
	border-radius: 10px;
	padding-right: 36px;
}

.newsletter-email::placeholder {
	color: #432316;
	font-weight: 300;
}

.newsletter-email-button {
	background-color: #432316;
	width: 36px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.copyright {
    height: 60px;
    background-color: #7D4C3A;
    color: #FFFFFF;
}

@media only screen and (min-width: 640px) {
	.footer-menu > .menu-item {
		font-size: 16px;
	}

	.follow-us-on-label, .newsletter-label {
		font-size: 16px;
	}
}

@media only screen and (min-width: 768px) {
	.newsletter-email {
		padding-right: 70px;
	}

	.newsletter-email-button {
		width: 70px;
	}
}

@media only screen and (min-width: 1024px) {
	#colophon {
		height: 434px;
	}

	.footer-menu {
		height: 194px;
	}
}

@media only screen and (min-width: 1200px) {
	.footer-menu > .menu-item {
		margin-right: 30%;
	}
}

@media only screen and (min-width: 1536px) {
	.footer-logo {
		width: 270px;
		height: 372px;
	}

	.footer-menu > .menu-item {
		margin-right: 50%;
	}
}

/* Testimonials Stylings */
#testimonials h3 {
	color:#7D4C3A;
	font-size: 25px;
}

.testimonialsSlider {
    height: 450px;
    width: 100%;
}

.testimonialsSliderDots {
    position: relative !important;
    bottom: 1em !important;
}

.testimonial {
	background-color: #F8F8F8;
	height: 300px;
	margin-top: 100px;
    border-radius: 25px;
}

.testimonial-customer {
	color: #5B463D;
	font-size: 18px;
}

.testimonial-text {
	color: #5B463D;
	font-size: 14px;
	height: 105px;
	overflow-y: auto;
}

.testimonialImage {
	height: 150px;
	width: 150px;
	left: 50%;
	transform: translate(-50%, -50%);
}

.rating {
	color: #FFBA70;
}

@media only screen and (min-width: 480px) {
	#testimonials h3 {
		font-size: 30px;
	}
}

@media only screen and (min-width: 640px) {
	.testimonialsSlider {
		height: 650px;
	}

	.testimonial {
		height: 450px;
		margin-top: 150px;
	}

	.testimonial-customer {
		font-size: 24px;
	}

	.testimonial-text {
		font-size: 18px;
		height: 190px;
	}
}

@media only screen and (min-width: 768px) {
	#testimonials h3 {
		font-size: 35px;
	}

	.testimonialImage {
		height: 200px;
		width: 200px;
	}
}

/* About Styling */
#about-us {
    background-image: url('../public/images/about-us-bg.png');
}

#about-us h3 {
	color:#FFFFFF;
	font-size: 25px;
}

#about-us p {
	color:#FFFFFF;
	font-size: 16px;
}

@media only screen and (min-width: 480px) {
	#about-us h3 {
		font-size: 30px;
	}
}

@media only screen and (min-width: 768px) {
	#about-us h3 {
		font-size: 35px;
	}

	#about-us p {
		font-size: 20px;
	}
}


/* Services Styling */
#services {
	background-color: #FFFFFF;
}

#services h3 {
	color:#7D4C3A;
	font-size: 25px;
}

#services p {
	color:#7D4C3A;
	font-size: 16px;
}

.servicesSlider {
	height: 440px;
	width: 100%;
}

.servicesSliderDots {
    position: relative !important;
    bottom: 1em !important;
}

.service {
	height: 394px;
	font-size: 36px;
    border-radius: 25px;
}

.service h4 {
    font-size: 20px;
}

.service .overlay {
	background-color: rgba(0, 0, 0, 0.58);
	transition: all ease-in-out 0.5s;
    border-radius: 25px;
}

.service:hover .overlay {
	background-color: rgba(0, 0, 0, 0.75);
}

@media only screen and (min-width: 480px) {
	#services h3 {
		font-size: 30px;
	}

    .service h4 {
        font-size: 24px;
    }
    
}

@media only screen and (min-width: 640px) {
	.servicesSlider {
		height: 540px;
	}

	.service {
		height: 494px;
		font-size: 30px;
	}

    .service h4 {
        font-size: 30px;
    }
}

@media only screen and (min-width: 768px) {
	#services h3 {
		font-size: 35px;
	}

	#services p {
		font-size: 20px;
	}
}

@media only screen and (min-width: 1024px) {
	.servicesSlider {
		height: 640px;
	}

	.service {
		height: 594px;
	}
}

/* Gallery styling */
#gallery {
    background-color:#F6F6F6;
}

#gallery h3 {
    color:#7D4C3A;
	font-size: 25px;
}

@media only screen and (min-width: 480px) {
    #gallery h3 {
        font-size: 30px;
    }
}

@media only screen and (min-width: 768px) {
    #gallery h3 {
        font-size: 35px;
    }
}

/* Contact Styling */
.contact-form h3 {
    color:#7D4C3A;
	font-size: 25px;
}

.contact-img .header {
    color:#7D4C3A;
	font-size: 20px;
}

.contact-form .field label {
    color: #7D4C3A;
    font-size: 16px;
}

.contact-form .field input, .contact-form .field textarea {
    border: solid #BCB1AC 1px;
    border-radius: 8px;
    color: #000000;
    font-size: 16px;
    outline: none;
}

.contact-form .field input {
    height: 50px;
}

.contact-form .field input:focus-visible, .contact-form .field textarea:focus-visible {
    border: solid #7D4C3A 3px;
}

.contact-form button {
    font-size: 16px;
    border-radius: 10px;
    transition: all ease-in-out 0.3s;
    width: 85px;
    background-color: #7D4C3A;
    border: solid #7D4C3A 1px;
}

.contact-form button:hover {
    color: #7D4C3A;
    background-color: #FFFFFF;
}

.contact-form button:disabled, .contact-form button:disabled:hover  {
    background-color: #d1d5db;
    border: solid #e5e7eb 1px;
    color: #000000;
}

.contact-img {
    background-image: url('../public/images/contact-bg.jpg');
}

.contact-img p {
    font-size: 16px;
}

.contact-details-indent {
    margin-right: 10px;
}

@media only screen and (min-width: 480px) {
    .contact-form h3 {
        font-size: 30px;
    }
}

@media only screen and (min-width: 768px) {
    .contact-form h3 {
        font-size: 35px;
    }

    .contact-img .heading {
        font-size: 24px;
    }

    .contact-form .field label {
        font-size: 20px;
    }

    .contact-form .field input, .contact-form .field textarea {
        font-size: 20px;
    }

    .contact-form button {
        font-size: 20px;
    }
    

    .contact-img p {
        font-size: 20px;
    }
}
